*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pic{
    height: 100vh;
    width: 100vw;
    background-image: url('../images/back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
    z-index: 1;
}
.nav-bar{
    height: 8vh;
    width: 100vw;
    background-color: rgb(59, 58, 58, 0.2);
    display: flex;
    justify-content:space-around;
    position: fixed;
}
.nav-bar-col1 a{
    text-decoration: none;
    font-size: xx-large;
    color: white;
}
.nav-bar-col2 ul{
    display: flex;
   justify-content:space-between;
    list-style: none;
    gap: 8vh;
    padding-top: 3vh;
}
.nav-bar-col2 a{
    text-decoration: none;
    color: white;
}
.nav-bar-col2 a:hover{
    color: rgb(230, 26, 26);
    text-decoration:underline 2px solid rgb(230, 26, 26);
}
.hd1{
    padding-top: 26vh;
    color: white;
padding-left: 9vw;

}
.hd1 h8{
    width: 19vw;
    background-color: #111010;
}
.hd1 h1{
    margin-top: 2vw;
}
.front{
    display: flex;
    
}
.hd1 p{
    margin-top: 5vh;
    font-style:oblique;
    font-size: 1.1em;

}
.hd1 button{
    height: 6vh;
    width: 12vw;
    background-color:rgb(230, 26, 26);
    color: white;
    margin-top: 1.5vh;
    border: 1px solid rgb(230, 26, 26);
    transition: all 0.9s;
    cursor: pointer;
}
.hd1 button:hover{
    background-color: transparent;
    color: white ;
}
.bar{
    height: 95vh;
    padding-top: 80px;
    width: 37vw;
    background-color:rgba(136, 127, 127, 0.2);
    margin-left: 8vw;
}
.bar label{
    font-size: x-large;
    padding: 3em 0 2em 4.5em;
    color: white;
    gap: 20px;
}
.bar-1{
    height: 7vh;
    width: 30vw; 
    padding-left: 1vw;
    margin-left:3vw ;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: grey;
}
.bar-2 select{
    height: 7vh;
    width: 14vw; 
    margin: 1vw 0 0 3vw;
    padding-left: 1vw;
    cursor: pointer;
    border: none;
    color: grey;
}
.bar-3 input{
    height: 7vh;
    width: 14vw; 
    margin: 1vw 0 0 1.5vw;
    border: none;
    padding-left: 1vw;
}
.bar-4 select{
    height: 7vh;
    width: 14vw; 
    margin: 1vw 0 0 3vw;
    padding-left: 1vw;
    cursor: pointer;
    border: none;
    color: grey;
}
.bar-5 input{
    height: 7vh;
    width: 14vw; 
    margin: 1vw 0 0 1.5vw;
    padding-left: 1vw;
    border: none;
}
.bar-6 input{
    height: 7vh;
    width: 30vw; 
    padding-left: 1vw;
    margin:1vw 0 0 3vw ;
    border: none;
    border-radius: 4px;
}
.bar-7 input{
    height: 7vh;
    width: 30vw; 
    padding-left: 1vw;
    margin:1vw 0 0 3vw ;
    border: none;
    border-radius: 4px;
}
.bar-8 input{
    height: 7vh;
    width: 30vw; 
    padding-left: 1vw;
    margin:1vw 0 0 3vw ;
    border: none;
    border-radius: 4px;
}
.bar-but button{
    height: 7vh;
    width: 30vw; 
    padding-left: 1vw;
    margin:1vw 0 0 3vw ;
    border: 1px solid rgb(230, 26, 26);
    border-radius: 4px;
    background-color:rgb(230, 26, 26);
    color: white;
    cursor: pointer;
    transition: all 0.9s;
}
.bar-but button:hover{
    background-color: transparent;
}
.window{
    height: 130vh;
    width: 100vw;
    background-color:rgb(243, 235, 235);
    display: grid;
    grid-template-columns:auto auto auto;
    grid-template-rows: auto auto auto;
    
      align-content:center;  
      
}
.win-hd{
    grid-column: 1/4;
}
.win-hd p{
    padding-top: 10px;
    padding-bottom: 90px;
    padding-left: 25vw;
    font-size: 3em;
    color: black;

    
}
.win{
    height: 30vh;
    width: 30vw;
    border: transparent;
    background-color:#cdcbd6;
    margin: 0 20px 20px  20px ;   
    padding: 20px 10px 5px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: box-shadow 0.8s;
}
.win:hover{
    box-shadow:10px 10px 7px black;
    
}
.win i{
    color: black;
}
.win h8{
    font-size: 1.5em;
    padding-left: 30px;
    font-weight: 400;
  color: black;
  cursor: pointer;
  font-style: oblique;
}
.win p{
font-size: 1em;
padding-top: 30px;
padding-left: 30px;
color: rgb(59, 52, 52);
}
.details{
    height: 100vh;
    width: 100vw;
    background-color:rgb(243, 235, 235);
}
.details-bar{
    display: flex;
    height: 80vh;

    width: 100vw;
}
.details-pic img{
    height: 100%;
    width: 50vw;
}
.details-text h5{
    font-size: 3rem;
    padding: 100px 0px 20px 40px;
}
.details-text b{
    font-size: 1.2em;
    margin: 10px 0px 0px 40px;
    background-color: #222222;
    color: #cdcbd6;
}
.details-text p{
padding: 20px 0px 0px 40px;
font-size: 1em;
color: rgb(97, 92, 92);
}
.details-text button{
    height: 7VH;
    width: 12vw;
    margin: 10px 0px 0px 40px ;
    cursor: pointer;
    background-color: #222222;
    color: #cdcbd6;
    border: 1px solid #222222;
    border-radius: 5px;
    transition: all 0.9s;
}
.details-text button:hover{
background-color: transparent;
color: #222222;
}
.choose{
    height: 110vh;
    width: 100vw;
    background-color:rgb(243, 235, 235);
}
.choose-hd h5{
    font-size: 3em;
    text-align: center;
}
.choose-hd p{
    font-size: 1.2em;
    margin: 15px 450px 10px 460px;
    background-color: #222222;
    color: white;
}
.choose-bar{
    display: flex;
    height: 60vh;
    width: 90vw;
    margin-top: 60px;
    margin-left: 60px;
    background-color:rgb(243, 235, 235) ;
}
.choose-text{
    height: 60vh;
    width: 50vw;
}
.choose-text-hd{
    font-size: 2em;
}
.choose-text b{
    padding-left:430px;
    font-size: xx-large;
    color:rgb(230, 26, 26) ;
}
.choose-text p{
    margin: 20px 0px 20px 0px;
    color: rgb(97, 92, 92);
}
.choose-text li{
    list-style: none;
    padding:8px 0px 0px 8px;  
}
.choose-text button{
    height: 7vh;
    width: 15vw;
    margin-top: 30px;
    background-color: #222222;
    color: white;
    border: 1px solid #222222;
    transition: all 0.9s;
}
.choose-text button:hover{
    background-color: transparent;
    color: #222222;
}
.choose-pic img{
    height: 100%;
    width: 100%;
}

.numbers{
    height: 60vh;
    width: 100vw;
     background-color :#f9b700;
     display: flex;
}
.number-hd {
height: 100%;
width: 20vw;
text-align: center;
padding-top: 150px;
}
.number-hd b{
font-size: 3.5em;
color: #111010;
}
