<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="about-pic">
        <div class="nav-bar">
            <div class="nav-bar-col1">
                <a href=""><b> Car Rentals</b></a> </div>
             <div class="nav-bar-col2">
                <ul>
                    <li><a href="/login">LOGIN</a> </li>
                    <li> <a href="/index">HOME</a></li>
                    <li> <a href="/about">ABOUT</a></li>
                    <li> <a href="/services">SERVICES</a></li>
                    <li> <a href="/cars">CARS</a></li>
                    <li> <a href="/contact">CONTACT</a></li>
                    <li> <a href="/login">LOGOUT</a></li>
                    
                </ul>
             </div>
        </div>
        <h1 class="about-hd">CARS</h1><br><br><br>
        <span class="about-txt"><a href="/" >Home     </a><i class="bi bi-arrow-right"></i><a href="/cars">    CARS</a></span>
    </div>
    <div class="choose-car">
        <div class="choose-hd"><h5>Choose your Desired Car Model</h5>
            <p>Who are in extremely love with eco friendly system.</p>
        </div>
        <div class="choose-bar-cars">
            <div class="choose-text">
           <span class="choose-text-hd">Rolls-Royce Wraith</span><b>₹80k<sub>/Day</sub></b>
           <p>
            The Rolls-Royce Wraith is a stunning luxury grand tourer, blending powerful performance with exquisite craftsmanship. Its V12 engine delivers exhilarating speed, while the opulent interior boasts the finest materials and technology, ensuring a lavish driving experience for discerning enthusiasts and collectors.
           </p>
           <Ul>
               <li><span>Capacity :</span>04 Person</li>
               <li><span>Doors :</span>2</li>
               <li><span>Transmission :</span>  8-speed automatic </li>
               <li><span>Air condition :</span> Advanced climate control</li>
           </Ul>
               <a href=""><button>BOOK THIS CAR NOW</button></a>
            </div>
            <div class="choose-pic">
               <img src="../static/images/cars1.webp" alt=""></img>
                </div>

   </div>
   <div class="choose-bar-cars">
    <div class="choose-text">
   <span class="choose-text-hd">Audi_A4</span><b>₹40k<sub>/Day</sub></b>
   <p>The Audi A4 combines luxury, performance, and cutting-edge technology. Featuring a sleek design, powerful engine options, and a refined interior, it provides a comfortable and engaging driving experience. It's the perfect choice for those seeking style and sophistication.
   </p>
   <Ul>
       <li><span>Capacity :</span>04 Person</li>
       <li><span>Doors :</span>04</li>
       <li><span>Transmission :</span> Manual</li>
       <li><span>Air condition :</span> Dual Zone</li>
   </Ul>
       <a href=""><button>BOOK THIS CAR NOW</button></a>
    </div>
    <div class="choose-pic">
       <img src="../static/images/ad.avif" alt=""></img>
        </div>

</div>
<div class="choose-bar-cars">
    <div class="choose-text">
   <span class="choose-text-hd">Mercedes-AMG G63</span><b>₹53k<sub>/Day</sub></b>
   <p>The Mercedes-AMG G63 is a high-performance luxury SUV that combines powerful engineering with off-road capability. Featuring a robust V8 engine, distinctive design, and cutting-edge technology, it delivers an exhilarating driving experience and unmatched comfort for enthusiasts and adventurers alike.
   </p>
   <Ul>
       <li><span>Capacity :</span>05 Person</li>
       <li><span>Doors :</span>04</li>
       <li><span>Transmission :</span> 9-speed automatic transmission</li>
       <li><span>Air condition :</span> Dual-zone climate control</li>
   </Ul>
       <a href=""><button>BOOK THIS CAR NOW</button></a>
    </div>
    <div class="choose-pic">
       <img src="../static/images/cars2.jfif" alt=""></img>
        </div>

</div>
<div class="choose-bar-cars">
    <div class="choose-text">
   <span class="choose-text-hd">Ferrari Monza</span><b>₹90k<sub>/Day</sub></b>
   <p>The Ferrari Monza is a stunning limited-edition supercar, inspired by classic racing heritage. Featuring a powerful V12 engine and lightweight design, it delivers breathtaking performance. With striking aesthetics and advanced technology, the Monza embodies the essence of Ferrari's passion for speed.
   </p>
   <Ul>
       <li><span>Capacity :</span>02 passengers</li>
       <li><span>Doors :</span>02</li>
       <li><span>Transmission :</span> 7-speed dual-clutch automatic transmission </li>
       <li><span>Air condition :</span> Advanced climate control</li>
   </Ul>
       <a href=""><button>BOOK THIS CAR NOW</button></a>
    </div>
    <div class="choose-pic">
       <img src="../static/images/cars3.jfif" alt=""></img>
        </div>

</div>
    </div>
    <div class="end"> 
        <div class="end1">
            <b class="end-hd">Car Rental</b>
            <p>Discover convenient, affordable, and reliable car rentals for your travel needs.
                Book online effortlessly and enjoy excellent service and quality vehicles</p>
            <a href="" class="end-but">Explore More></a>
        </div>
        <div class="end1">
            <b class="end-hd"> Additional Services</b>
            <ul class="end1-services-li">
                <li><a href="">Roadside Assistance</a></li>
                <li><a href="">Fuel Plans</a></li>
                <li><a href="">Delivery and Pick-Up</a> </li>
                <li><a href="">Vehicle Upgrades</a></li>
                <li><a href="">Maintenance</a></li>
            </ul>
        </div>
        <div class="end1">
            <b class="end-hd">Tag Clouds</b>
            <diV class="end1-label"><a href="" class="cloud">Rental</a>
                <a href="" class="cloud">Car Hire</a>
                <a href="" class="cloud">Luxury Cars </a><br>
                <a href="" class="cloud">Economy Cars</a>
                <a href="" class="cloud">Corporate Rental</a>
                <a href="" class="cloud">Vans</a>
                <a href="" class="cloud">Vehicle Leasing</a> </diV>
             
        </div>
        <div class="end4">
            <b class="end-hd">Subscribe</b>
            <div class="Subscribe">
                <div class="subscribe-sub">
                <input type="email" id="" placeholder="Enter email address">
                <a href=""><button><i class="bi bi-send-fill"></i></button></a></div>
                <div class="follow">
                    <b>Follow Us</b>
                    <div class="social">
                        <a href=""><button><i class="bi bi-twitter-x"></i></button></a>
                    <a href=""><button><i class="bi bi-facebook"></i></button></a>
                    <a href=""><button><i class="bi bi-instagram"></i></button></a></div>
    
                </div>
            </div>
            
        </div>
       
    </div>