<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Rental</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<body>

    <div class="pic">
    <div class="nav-bar">
        <div class="nav-bar-col1">
            <a href=""><b> Car Rentals</b></a> </div>
         <div class="nav-bar-col2">
            <ul>
                <li><a href="">HOME</a> </li>
                <li> <a href="">ABOUT</a></li>
                <li> <a href="">CARS</a></li>
                <li> <a href="">SERVICES</a></li>
                <li> <a href="">CONTACT</a></li>
                <li> <a href="">BLOG</a></li>
                
            </ul>
         </div>
    </div>
    <div class="front">
    <div class="hd1"> 
        <h8>   THE ROYAL ESSENCE OF JOURNEY</h8>
        <h1>RELAXED JOURNEY EVER</h1>
        <p>Discover convenient, affordable, and reliable car rentals for your travel needs. <br>Book online effortlessly and enjoy excellent service and quality vehicles.</p>
        <a href=""><button>Rent Car Now</button></a>
        
    </div>
    <div class="bar">
        <form action="/book_car" method="post"><label><b>Book Your Car Today!</b></label>
    <select name="car" id="" class="bar-1" >
        <option value=""disabled selected>Select Your Car</option>
        <option value="">AUDI</option>
            <option value="">BMW</option>
                <option value="">LAND ROVER</option>
                <option value="">TOYOTA</option>
                <option value="">TATA</option></select>
                  <span class="bar-2">
                    <select name="car" id="" class="bar1" >
                        <option value=""disabled selected>Pickup </option>
                        <option value="">1</option>
                            <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option></select>
                    </span>
                    <span class="bar-3">
                       <input type="text" id="" placeholder="Date & time" name="Date">
                        </span>
                        <span class="bar-4">
                            <select name="car" id="" class="bar1" >
                                <option value=""disabled selected>Drop off </option>
                                <option value="">1</option>
                                    <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">4</option></select>
                            </span>
                            <span class="bar-5">
                               <input type="text" id="" placeholder="Date & time" name="Date">
                                </span>
             <div class="bar-6"><input type="text" id="" placeholder="Your name" name="name"></div>
         <div class="bar-7"><input type="email
            " id="" placeholder="Email address" name="email"></div>

            <div class="bar-8"><input type="text
                " id="" placeholder="Phone number" name="phone numer"></div>
    
    <div class="bar-but"> <a href=""><button>CONFIRM CAR BOOKING</button></a></form>
    </div>
        </div>
</div>
    </div>
<div class="window">
    <div class="win-hd"><p>What Services we offer to our clients</p>
    </div>
    <div class="win one">
         <h8> <i class="bi bi-person"></i> Expert Technicians</h8>
         <p> Our expert technicians ensure top performance and reliability for all our rental vehicles. Enjoy peace of mind knowing that our team provides meticulous care and prompt maintenance.</p>
    </div>
    <div class="win two">
        <h8> <i class="bi bi-card-checklist"></i> Professional Service</h8>
         <p>We offer comprehensive professional services, including expert maintenance and support. Our dedicated team ensures your rental experience is smooth and reliable, providing top-notch care and attention to detail.</p>
    </div>
    <div class="win three">
        <h8> <i class="bi bi-telephone"></i> Great Support</h8>
         <p>We provide exceptional support with our dedicated team ready to assist you. Enjoy reliable service and prompt assistance throughout your rental experience for complete peace of mind..</p>
    </div>
    <div class="win four">
        <h8> <i class="bi bi-rocket-takeoff"></i>Technical Skills</h8>
         <p> Our team's advanced technical skills ensure top-notch vehicle performance and maintenance. Benefit from our expert knowledge and precise care for a reliable and smooth rental experience.</p>
    </div>
    <div class="win five">
        <h8> <i class="bi bi-gem"></i> Luxury Cars</h8>
         <p> Indulge in our fleet of luxury cars, offering unparalleled comfort and style. Experience exceptional driving pleasure and elegance with our meticulously maintained and premium vehicle selection.</p>
    </div>
    <div class="win six">
        <h8> <i class="bi bi-chat"></i> Positive Reviews</h8>
         <p> Our clients consistently leave positive reviews praising our exceptional service and high-quality vehicles. Discover why our customers recommend us for a reliable, top-notch rental experience.</p>
    </div>
   
</div>
<div class="details">
    <div class="details-bar">
        <div class="details-pic">
            <img src="../static/images/dt.jpg" alt=""></img>
             </div>
             <div class="details-text">
             <h5>Globally Connected
                <br>by Large Network</h5>
                <b>We are here to listen from you deliver exellence</b>
                <p>
                    We are proud to inform you that we are globally connected through an extensive network. Our vast number of branches, advanced online booking systems, and real-time vehicle tracking ensure you receive seamless, reliable, and convenient car rental services wherever you are in the world. Whether you need a vehicle for business, leisure, or any other purpose, our large network guarantees a consistent and high-quality rental experience every time you choose us.
                </p>
                <a href=""><button>GET DETAILS</button></a>
             </div>

    </div>
</div>

<div class="choose">
    <div class="choose-hd"><h5>Choose your Desired Car Model</h5>
        <p>Who are in extremely love with eco friendly system.</p>
    </div>
    <div class="choose-bar">
             <div class="choose-text">
            <span class="choose-text-hd">Audi_A4</span><b>₹40k<sub>/Day</sub></b>
            <p>The Audi A4 combines luxury, performance, and cutting-edge technology. Featuring a sleek design, powerful engine options, and a refined interior, it provides a comfortable and engaging driving experience. It's the perfect choice for those seeking style and sophistication.
            </p>
            <Ul>
                <li><span>Capacity :</span>04 Person</li>
                <li><span>Doors :</span>04</li>
                <li><span>Transmission :</span> Manual</li>
                <li><span>Air condition :</span> Dual Zone</li>
            </Ul>
                <a href=""><button>BOOK THIS CAR NOW</button></a>
             </div>
             <div class="choose-pic">
                <img src="../static/images/ad.avif" alt=""></img>
                 </div>

    </div>
</div>
    
<div class="numbers">
    <div class="number-hd"><b>4577</b>
    <p> Projects Complete</p></div>
    <div class="number-hd"><b>8282</b>
        <p>Really Happy Clients</p></div>
        <div class="number-hd"><b>13403</b>
            <p>Total Task Complete</p></div>
            <div class="number-hd"><b>4277</b>
                <p>Cups Of Coffee Taken</p></div>
                <div class="number-hd"><b>754</b>
                    <p>In House Professionals</p></div>
</div>
<div class="feedback">
    <div class="feedback-hd"><p class="hd">Some Features that Made us Unique</p>
        <p class="sub-hd">Who are in extremely love with eco friendly system.</p>
      
    </div>
    <div class="feed one">
         <h8> Cody Hines</h8>
         <p class="fd"> Your car rental site is user-friendly with clear navigation, competitive pricing, and vehicle information, enhancing customer experience..</p>
         <p class="star">
            <span class="st"><i class="bi bi-star-fill"></i></span>
            <span class="st"><i class="bi bi-star-fill"></i></span>
            <span class="st"><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>

         </p>
    </div>
    <div class="feed two">
        <h8> Chad Herrera</h8>
         <p class="fd">Excellent service, car was clean and in great condition. Easy booking process and friendly staff. Highly recommend this company!
        </p>
        <p class="star">
            <span class="st"><i class="bi bi-star-fill"></i></span>
            <span class="st"><i class="bi bi-star-fill"></i></span>
            <span class="st"><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>

         </p>
    </div>
    <div class="feed three">
        <h8>Andre Gonzalez</h8>
         <p class="fd">Fantastic customer service, car exceeded expectations. Affordable rates and no hidden fees. Will be using this service again.</p>
         <p class="star">
            <span class="st"><i class="bi bi-star-fill"></i></span>
            <span class="st"><i class="bi bi-star-fill"></i></span>
            <span class="st"><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>

         </p>
    </div>
    <div class="feed four">
        <h8>Anku Rana</h8>
         <p class="fd"> Great value for money, car performed well. Efficient online booking system. Staff were helpful and courteous. Highly satisfied.</p>
         <p class="star">
            <span class="st"><i class="bi bi-star-fill"></i></span>
            <span class="st"><i class="bi bi-star-fill"></i></span>
            <span class="st"><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>

         </p>
    </div>
    <div class="feed five">
        <h8>Manik</h8>
         <p class="fd"> Impressed with the quality of the car and the professionalism of the staff. Rental process was hassle-free. Five stars.</p>
         <p class="star">
            <span class="st"><i class="bi bi-star-fill"></i></span>
            <span class="st"><i class="bi bi-star-fill"></i></span>
            <span class="st"><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>

         </p>
    </div>
    <div class="feed six">
        <h8>Rahul</h8>
         <p class="fd"> Reliable and affordable car rental. Car was in perfect condition. Staff made the process quick and easy. Will recommend.</p>
         <p class="star">
            <span class="st"><i class="bi bi-star-fill"></i></span>
            <span class="st"><i class="bi bi-star-fill"></i></span>
            <span class="st"><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>
            <span><i class="bi bi-star-fill"></i></span>

         </p>
    </div>
   
</div>
<div class="pic-2">
    <div  class="pic-2-hd"><b>Ready to get started</b>
    <p>It’s safe to book online with us! Get your dream stay in clicks or drop us a line with your questions.</p>
<div class="pic-2-bt">
<a href="" class="pic-2-bt1"><button>REACH OUR SUPPORT SYSTEM</button></a>
</div>
   </div></div>

   <div class="blog">
    <div><p class="blog-hd1">Latest news from our blog</p>

    <p class="blog-hd-2">NEWS & BLOG</p></div>

    <div class="blog-block">
         <div class="blog-area blg1">
             <div class="blg-pic">
            <img src="../static/images/blog1.webp"alt="">
        </div>
        <div class="blg-text">
            <a href="" class="blg-text-hd1">Work Hard, Party Hard in a Luxury Chalet in the Alps</a>
           <div class="blg-date"> <a href="">
            <span class="blg-text-hd2">April 13,2022</span>
            <span class="blg-admin">Admin</span>
            <span class="msg"><i class="bi bi-chat-fill"><sup>7</sup></i></span></a></div>
        <p class="blg-text-hd3">Experience productivity and relaxation in an Alpine luxury chalet, blending stunning views, modern amenities, and thrilling après-ski activities. Work hard, party hard!  </p></div></div>
    
        <div class="blog-area blg1">
            <div class="blg-pic">
           <img src="../static/images/blog2.avif" alt="">
       </div>
       <div class="blg-text">
           <a href="" class="blg-text-hd1">Essential Skills for Thriving in Web Development Today</a>
           <div class="blg-date"><a href="">
               <span class="blg-text-hd2">May 1,2022</span>
                <span class="blg-admin">Admin</span>
                <span class="msg"><i class="bi bi-chat-fill"><sup>7</sup></i></span></a></div>
       <p class="blg-text-hd3">Web developers need proficiency in HTML, CSS, and JavaScript, as well as knowledge of responsive design, version control, and frameworks like React or Angular to succeed in today's competitive landscape.  </p></div></div>

       <div class="blog-area blg1">
        <div class="blg-pic">
       <img src="../static/images/blog3.jpg" alt="">
   </div>
   <div class="blg-text">
       <a href="" class="blg-text-hd1">Top Destinations: Perfect for Adventure Junkies</a>
       <div class="blg-date"><a href="">
           <span class="blg-text-hd2">June 15,2023</span>
           <span class="blg-admin">Admin</span>
           <span class="msg"><i class="bi bi-chat-fill"><sup>4</sup></i></span></a></div>
   <p class="blg-text-hd3">
    Discover thrilling destinations, adrenaline-pumping activities, and expert tips for adventure junkies. Embrace your wild side and embark on unforgettable journeys around the world. </p></div>
 
  
    </div>
 <div class="blog-area blg1">
        <div class="blg-pic">
       <img src="../static/images/pixx.PNG" alt="">
   </div>
   <div class="blg-text">
       <a href="" class="blg-text-hd1">Vacational Rental:Rent An Aprment For Your Vacation
</a>
       <div class="blg-date"><a href="">
           <span class="blg-text-hd2">December 30,2023</span>
           <span class="blg-admin">Admin</span>
           <span class="msg"><i class="bi bi-chat-fill"><sup>7</sup></i></span></a></div>
   <p class="blg-text-hd3">Create a user-friendly, mobile-responsive vacation rental website with detailed property listings, booking system, secure payments, and excellent customer support.
     </p></div>
 
  
    </div>
</div></div>
<div class="end"> 
    <div class="end1">
        <b class="end-hd">Car Rental</b>
        <p>Discover convenient, affordable, and reliable car rentals for your travel needs.
            Book online effortlessly and enjoy excellent service and quality vehicles</p>
        <a href="" class="end-but">Explore More></a>
    </div>
    <div class="end1">
        <b class="end-hd"> Additional Services</b>
        <ul class="end1-services-li">
            <li><a href="">Roadside Assistance</a></li>
            <li><a href="">Fuel Plans</a></li>
            <li><a href="">Delivery and Pick-Up</a> </li>
            <li><a href="">Vehicle Upgrades</a></li>
            <li><a href="">Maintenance</a></li>
        </ul>
    </div>
    <div class="end1">
        <b class="end-hd">Tag Clouds</b>
        <diV class="end1-label"><a href="" class="cloud">Rental</a>
            <a href="" class="cloud">Car Hire</a>
            <a href="" class="cloud">Luxury Cars </a><br>
            <a href="" class="cloud">Economy Cars</a>
            <a href="" class="cloud">Corporate Rental</a>
            <a href="" class="cloud">Vans</a>
            <a href="" class="cloud">Vehicle Leasing</a> </diV>
         
    </div>
    <div class="end4">
        <b class="end-hd">Subscribe</b>
        <div class="Subscribe">
            <div class="subscribe-sub">
            <input type="email" id="" placeholder="Enter email address">
            <a href=""><button><i class="bi bi-send-fill"></i></button></a></div>
            <div class="follow">
                <b>Follow Us</b>
                <div class="social">
                    <a href=""><button><i class="bi bi-twitter-x"></i></button></a>
                <a href=""><button><i class="bi bi-facebook"></i></button></a>
                <a href=""><button><i class="bi bi-instagram"></i></button></a></div>

            </div>
        </div>
        
    </div>
   
</div>
<%- include ("partials/navbar.ejs") -%>
</body>
</html>