<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="reg-pic">
        <div class="reg-form">
        <form action="/register" method="post" >
           <h1>REGISTER</h1>
           <input type="text" name="name"  required placeholder="  Name" ><br><br>

           <input type="text" name="username"  required placeholder="  Username" ><br><br>
           
           <input type="email" name="email" required placeholder="  Email" ><br><br>
           <input type="password" name="password" required placeholder="  Password"><br><br>
           <input type="password" name="confirm password"  required placeholder="  Confirm Password" ><br><br>
           <a href="/index" class="reeg"><button>Register</button></a><br><br>
           
        </form>
        <span class="logg">Already have account?<a href="/login"><button class="loog"> Login</button></a></span></div>
   </div>
</body>
</html>