<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="about-pic">
        <div class="nav-bar">
            <div class="nav-bar-col1">
                <a href=""><b> Car Rentals</b></a> </div>
             <div class="nav-bar-col2">
                <ul>
                    <li><a href="/login">LOGIN</a> </li>
                    <li> <a href="/index">HOME</a></li>
                    <li> <a href="/about">ABOUT</a></li>
                    <li> <a href="/services">SERVICES</a></li>
                    <li> <a href="">CONTACT</a></li>
                    <li> <a href="">BLOG</a></li>
                    <li> <a href="/login">LOGOUT</a></li>
                    
                </ul>
             </div>
        </div>
        <h1 class="about-hd">Services</h1><br><br><br>
        <span class="about-txt"><a href="/" >Home     </a><i class="bi bi-arrow-right"></i><a href="/about">    Services</a></span>
    </div>
    <div class="services-window">
        <div class="win-hd"><p>What Services we offer to our clients</p>
        </div>
        <div class="win one">
             <h8> <i class="bi bi-person"></i> Expert Technicians</h8>
             <p> Our expert technicians ensure top performance and reliability for all our rental vehicles. Enjoy peace of mind knowing that our team provides meticulous care and prompt maintenance.</p>
        </div>
        <div class="win two">
            <h8> <i class="bi bi-card-checklist"></i> Professional Service</h8>
             <p>We offer comprehensive professional services, including expert maintenance and support. Our dedicated team ensures your rental experience is smooth and reliable, providing top-notch care and attention to detail.</p>
        </div>
        <div class="win three">
            <h8> <i class="bi bi-telephone"></i> Great Support</h8>
             <p>We provide exceptional support with our dedicated team ready to assist you. Enjoy reliable service and prompt assistance throughout your rental experience for complete peace of mind..</p>
        </div>
        <div class="win four">
            <h8> <i class="bi bi-rocket-takeoff"></i>Technical Skills</h8>
             <p> Our team's advanced technical skills ensure top-notch vehicle performance and maintenance. Benefit from our expert knowledge and precise care for a reliable and smooth rental experience.</p>
        </div>
        <div class="win five">
            <h8> <i class="bi bi-gem"></i> Luxury Cars</h8>
             <p> Indulge in our fleet of luxury cars, offering unparalleled comfort and style. Experience exceptional driving pleasure and elegance with our meticulously maintained and premium vehicle selection.</p>
        </div>
        <div class="win six">
            <h8> <i class="bi bi-chat"></i> Positive Reviews</h8>
             <p> Our clients consistently leave positive reviews praising our exceptional service and high-quality vehicles. Discover why our customers recommend us for a reliable, top-notch rental experience.</p>
        </div>
       
    </div>
    <div class=" services-numbers">
        <div class="number-hd"><b>4577</b>
        <p> Projects Complete</p></div>
        <div class="number-hd"><b>8282</b>
            <p>Really Happy Clients</p></div>
            <div class="number-hd"><b>13403</b>
                <p>Total Task Complete</p></div>
                <div class="number-hd"><b>4277</b>
                    <p>Cups Of Coffee Taken</p></div>
                    <div class="number-hd"><b>754</b>
                        <p>In House Professionals</p></div>
    </div>
    <div class="services-pic-2">
        <div  class="pic-2-hd"><b>Ready to get started</b>
        <p>It’s safe to book online with us! Get your dream stay in clicks or drop us a line with your questions.</p>
    <div class="pic-2-bt">
    <a href="" class="pic-2-bt1"><button>REACH OUR SUPPORT SYSTEM</button></a>
    </div>
       </div></div>
       <div class="services-end"> 
    <div class="end1">
        <b class="end-hd">Car Rental</b>
        <p>Discover convenient, affordable, and reliable car rentals for your travel needs.
            Book online effortlessly and enjoy excellent service and quality vehicles</p>
        <a href="" class="end-but">Explore More></a>
    </div>
    <div class="end1">
        <b class="end-hd"> Additional Services</b>
        <ul class="end1-services-li">
            <li><a href="">Roadside Assistance</a></li>
            <li><a href="">Fuel Plans</a></li>
            <li><a href="">Delivery and Pick-Up</a> </li>
            <li><a href="">Vehicle Upgrades</a></li>
            <li><a href="">Maintenance</a></li>
        </ul>
    </div>
    <div class="end1">
        <b class="end-hd">Tag Clouds</b>
        <diV class="end1-label"><a href="" class="cloud">Rental</a>
            <a href="" class="cloud">Car Hire</a>
            <a href="" class="cloud">Luxury Cars </a><br>
            <a href="" class="cloud">Economy Cars</a>
            <a href="" class="cloud">Corporate Rental</a>
            <a href="" class="cloud">Vans</a>
            <a href="" class="cloud">Vehicle Leasing</a> </diV>
         
    </div>
    <div class="end4">
        <b class="end-hd">Subscribe</b>
        <div class="Subscribe">
            <div class="subscribe-sub">
            <input type="email" id="" placeholder="Enter email address">
            <a href=""><button><i class="bi bi-send-fill"></i></button></a></div>
            <div class="follow">
                <b>Follow Us</b>
                <div class="social">
                    <a href=""><button><i class="bi bi-twitter-x"></i></button></a>
                <a href=""><button><i class="bi bi-facebook"></i></button></a>
                <a href=""><button><i class="bi bi-instagram"></i></button></a></div>

            </div>
        </div>
        
    </div>
   
</div>
</body>
</html>